<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApvR5YqMHZWG2YnQLc-4QzyGFOeHkQJis</string>
	<key>GCM_SENDER_ID</key>
	<string>1019796244455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dhankuber</string>
	<key>PROJECT_ID</key>
	<string>dhan-kuber-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dhan-kuber-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019796244455:ios:38da71d433742ffc911f42</string>
</dict>
</plist>